Repository osmbe/osm-welcome-tool, pull requests merged in 2021-12, with the labels that each got.

#252 Update of welcome messages
  templates/messages/bogota/es/default.md
  templates/messages/colombia/es/default.md
Labels: template

#193 Update regions.yaml
  assets/regions/germany.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#253 Add Ireland to regions
  assets/regions/ireland.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#254 add ireland welcome message
  templates/messages/ireland/en/default.md
Labels: template

#256 fix typo in ireland welcome message
  templates/messages/ireland/en/default.md
Labels: template

#255 add zh-tw translation
  config/services.yaml
  translations/messages+intl-icu.zh_TW.xlf
  translations/security.zh_TW.xlf
  translations/validators.zh_TW.xlf
Labels: translation

#195 Update regions.yaml
  assets/regions/catalan_countries.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#258 Add China
  assets/regions/china.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#260 Create a default message templete for China (Maybe should after #258 ?)
  templates/messages/china/zh/default.md
Labels: template

#259 Add zh-CN Translation
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages+intl-icu.zh_CN.xlf
  translations/security.zh_CN.xlf
  translations/validators.zh_CN.xlf
Labels: translation

#264 Update messages+intl-icu.zh_TW.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: translation

#266 Translation fix
  translations/messages+intl-icu.zh_CN.xlf
Labels: translation

#270 Add Hong Kong as region
  assets/regions/hongkong.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#271 Redirect "region route" to list
  src/Controller/App/ListController.php
Labels: enhancement

#272 Fix & Improve prev/next month buttons
  src/Controller/App/ListController.php
  templates/app/list/header.html.twig
Labels: bug, enhancement

#273 Create german
  templates/messages/germany/de/default.md
Labels: template

#276 Update and rename default.md to default_JOSM.md
  templates/messages/germany/de/default_JOSM.md
Labels: template

#277 Add Macau as Region
  assets/regions/macao.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#283 Fix template for Belgium
  templates/messages/belgium/de/default.md
  templates/messages/belgium/en/default.md
  templates/messages/belgium/fr/default.md
  templates/messages/belgium/nl/default.md
Labels: template

#284 Add progression on main page
  src/Controller/App/HomeController.php
  src/Service/RegionsProvider.php
  templates/app/home/index.html.twig
Labels: feature request
