Repository osmbe/osm-welcome-tool, pull requests merged in 2021-11, with the labels that each got.

#128 Completed translation and adapt default message en in Italy
  templates/messages/italy/en/default.md
  templates/messages/italy/it/default.md
  translations/messages+intl-icu.it.xlf
Labels: template, translation

#127 Add welcome template for Kansas, USA
  assets/regions/kansas.geojson
  config/regions.yaml
  templates/messages/kansas/en/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#131 adding translations to spanish
  config/services.yaml
  translations/messages+intl-icu.es.xlf
  translations/security.es.xlf
  translations/validators.es.xlf
Labels: translation

#135 Fix chart locale issue
  assets/typescript/list/index.ts
Labels: bug

#133 Include Bogota and Colombia in the tool
  assets/regions/bogota.geojson
  assets/regions/colombia.geojson
  config/regions.yaml
  templates/messages/bogota/en/default.md
  templates/messages/bogota/es/default.md
  templates/messages/colombia/en/default.md
  templates/messages/colombia/es/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#142 Update messages+intl-icu.es.xlf
  translations/messages+intl-icu.es.xlf
Labels: bug

#136 Add Bangladesh as region
  assets/regions/bangladesh.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#141 requesting new region: Panama
  assets/regions/panama.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#140 Include DRC in the region's list
  assets/regions/drc.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#144 Add French template for DRC
  templates/messages/drc/fr/default.md
Labels: template

#145 Add Libya
  assets/regions/libya.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#146 Add Tanzania
  assets/regions/tanzania.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#147 Update homepage layout
  templates/app/home/index.html.twig
Labels: enhancement

#149 Add Japanese translation, Japan region and message template
  assets/regions/japan.geojson
  assets/typescript/list/index.ts
  config/regions.yaml
  config/services.yaml
  templates/messages/japan/ja/default.md
  translations/messages+intl-icu.ja.xlf
  translations/security.ja.xlf
  translations/validators.ja.xlf
Labels: region

#132 Add British Columbia as a region
  assets/regions/ca-bc.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.nl.xlf
Labels: region

#155 Add new message for Italy osmbe#129
  templates/messages/italy/en/default.md
  templates/messages/italy/it/default.md
Labels: template

#154 Update for Japanese message translation
  templates/messages/japan/ja/default.md
Labels: template

#159 Add Polish language "selector"
  assets/typescript/list/index.ts
  config/services.yaml
Labels: enhancement

#163 Added Polish welcome message template
  templates/messages/poland/pl/default.md
Labels: template

#169 minor typo
  translations/messages+intl-icu.it.xlf
Labels: translation

#167 Update default.md for Bogota
  templates/messages/bogota/es/default.md
Labels: template

#166 Add Oregon
  assets/regions/oregon.geojson
  config/regions.yaml
  templates/messages/oregon/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
Labels: region

#170 Addition of Turkey as region
  assets/regions/turkey.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
Labels: region

#172 Add region Austria
  assets/regions/austria.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
Labels: region

#174 Add Romania config and region .geojson
  assets/regions/romania.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
Labels: region

#173 German Translation
  translations/messages+intl-icu.de.xlf
  translations/security.de.xlf
  translations/validators.de.xlf
Labels: translation

#175 Add German language "selector"
  assets/typescript/list/index.ts
  config/services.yaml
Labels: enhancement

#151 give description how this software works
  README.md
Labels: documentation

#164 OSMCha docs
  docs/OSMCha_Review.md
  docs/images/osmcha1.png
  docs/images/osmcha2.png
  docs/images/osmcha3.png
  docs/images/osmcha4.png
  docs/images/osmcha5.png
  docs/images/osmcha6.png
  docs/images/osmcha7.png
  docs/images/osmcha7a.png
  docs/images/osmcha9.png
  docs/images/osmcha_account_settings.png
  docs/images/osmcha_watch_list.png
  docs/osmcha_review.tar.xz
Labels: documentation

#176 Create default template for Tanzania
  templates/messages/tanzania/en/default.md
Labels: template

#177 Create kosovo.geojson
  assets/regions/kosovo.geojson
  config/regions.yaml
  templates/messages/kosovo/en/default.md
  templates/messages/kosovo/sq/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
Labels: region, template

#179 Albanian translation
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages+intl-icu.sq.xlf
  translations/security.sq.xlf
  translations/validators.sq.xlf
Labels: translation

#183 Add Taiwan welcome message
  assets/regions/taiwan.geojson
  config/regions.yaml
  templates/messages/taiwan/zh/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region, template

#184 Fix error with front matter is missing in template
  src/Entity/Template.php
Labels: bug

#186 Add region Bolivia
  assets/regions/bolivia.geojson
  config/regions.yaml
  templates/messages/bolivia/es/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#187 Added Albania region and welcome messages for it
  assets/regions/albania.geojson
  config/regions.yaml
  templates/messages/albania/en/default.md
  templates/messages/albania/sq/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#188 Add Scotland
  assets/regions/scotland.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
Labels: region

#192 Update messages+intl-icu.sq.xlf
  translations/messages+intl-icu.sq.xlf
Labels: translation

#191 Improve the punctuation of the Polish welcome message
  templates/messages/poland/pl/default.md
Labels: template
