Repository osmbe/osm-welcome-tool, pull requests merged in 2022-09, with the labels that each got.

#675 Add DACHLI message template
  templates/messages/dachli-obersee-rheintal/de/default.md
Labels: template

#711 feat(zh_CN/zh_TW): Add and modify Chinese(s/t) translation
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: translation

#716 Update Spanish translation.
  translations/messages+intl-icu.es.xlf
Labels: translation

#715 Update the german translation (missing terms)
  translations/messages+intl-icu.de.xlf
Labels: translation

#718 Update regions.yaml to include Spain
  assets/regions/europe/spain.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#714 Create default.md template for Austria region
  templates/messages/austria/de/default.md
Labels: template

#739 Updated welcome message for Austria and DACHLI (new forum and english version)
  templates/messages/austria/de/default.md
  templates/messages/austria/en/default.md
  templates/messages/dachli-obersee-rheintal/de/default.md
  templates/messages/dachli-obersee-rheintal/en/default.md
Labels: template

#738 Add Region for Ontario
  assets/regions/north-america/ca-on.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region
