Repository osmbe/osm-welcome-tool, pull requests merged in 2022-01, with the labels that each got.

#340 Typo
  templates/messages/colombia/es/default.md
Labels: template

#339 Add region of Germany/Berlin/Neukölln
  assets/regions/germany-berlin-neukoelln.geojson
  config/regions.yaml
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#342 Added Michigan.
  assets/regions/michigan.geojson
  config/regions.yaml
  templates/messages/michigan/en/default.md
  translations/messages+intl-icu.bg.xlf
  translations/messages+intl-icu.de.xlf
  translations/messages+intl-icu.en.xlf
  translations/messages+intl-icu.es.xlf
  translations/messages+intl-icu.fr.xlf
  translations/messages+intl-icu.it.xlf
  translations/messages+intl-icu.ja.xlf
  translations/messages+intl-icu.nl.xlf
  translations/messages+intl-icu.pl.xlf
  translations/messages+intl-icu.sq.xlf
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: region

#344 Add template and fix translation
  templates/messages/china/zh/default.md
  templates/messages/china/zh/vandalism.md
  translations/messages+intl-icu.zh_CN.xlf
  translations/messages+intl-icu.zh_TW.xlf
Labels: template, translation
