Repository osmbe/osm-welcome-tool, pull requests merged in 2022-10, with the labels that each got.

#764 Create Ontario Default Welcome Message
  templates/messages/ca-on/en/default.md
Labels: template

#768 Fix France region
  assets/regions/europe/france.geojson
  templates/messages/france/fr/default.md
Labels: region, template

#770 Add Docker container
  .docker/apache/app.conf
  .docker/composer.sh
  .docker/cron.daily/welcome-update.sh
  .dockerignore
  .github/workflows/docker.yml
  Dockerfile
  INSTALL.md
Labels: enhancement
