Repository osmbe/osm-welcome-tool, pull requests merged in 2022-11, with the labels that each got.

#784 Update message for Bogota
  templates/messages/bogota/en/default.md
  templates/messages/bogota/es/default.md
Labels: template

#785 DACHLI: Enlarged area (more Switzerland) and improved message wording
  assets/regions/europe/dachli-obersee-rheintal.geojson
  templates/messages/dachli-obersee-rheintal/de/default.md
  templates/messages/dachli-obersee-rheintal/en/default.md
Labels: region, template

#788 add Discourse group and Telegram group to Italian and English message…
  templates/messages/italy/en/default.md
  templates/messages/italy/it/default.md
Labels: template

#789 Create north_korea.geojson
  assets/regions/asia/north-korea.geojson
  config/regions.yaml
  templates/messages/north-korea/en/default.md
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#795 Add Hungary
  assets/regions/europe/hungary.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#796 Add Nigeria
  assets/regions/africa/nigeria.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#798 Create niger
  assets/regions/africa/niger.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#797 Add hungarian language
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages.hu.xlf
  translations/security.hu.xlf
  translations/time+intl-icu.hu.xlf
  translations/validators.hu.xlf
Labels: translation

#799 Add region chile
  assets/regions/south-america/chile.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#801 Do not try to fetch deleted users + Make chunks
  src/Command/NewMapperCommand.php
  src/Service/OpenStreetMapAPI.php
Labels: bug

#802 Cache deleted users
  src/Command/DeletedUsersCommand.php
  src/Command/NewMapperCommand.php
  src/Service/OpenStreetMapAPI.php
Labels: bug, enhancement

#803 Store region last update in db (instead of cache)
  migrations/Version20221115184831.php
  src/Command/NewMapperCommand.php
  src/Command/UpdateCommand.php
  src/Entity/Region.php
  src/Repository/RegionRepository.php
  src/Service/RegionsProvider.php
Labels: enhancement

#806 Remove references to old forum in templates
  templates/messages/germany/de/default_JOSM.md
  templates/messages/ireland/en/default.md
  templates/messages/poland/pl/default.md
Labels: template

#808 Add support for multiple region per new mapper
  migrations/Version20221116194655.php
  src/Command/NewMapperCommand.php
  src/Controller/API/RegionController.php
  src/Controller/App/HomeController.php
  src/Controller/App/ListController.php
  src/Controller/App/MapperController.php
  src/Entity/Mapper.php
  src/Entity/Region.php
  src/Service/RegionsProvider.php
  templates/app/breadcrumb.html.twig
  templates/app/list/table.html.twig
  templates/app/mapper/form.html.twig
  templates/app/mapper/header.html.twig
Labels: enhancement

#811 Add Liberia
  assets/regions/africa/liberia.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#814 Add Korean welcome messange for South Korea
  assets/regions/asia/south-korea.geojson
  config/regions.yaml
  templates/messages/south-korea/ko/default.md
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region
