Repository osmbe/osm-welcome-tool, pull requests merged in 2023-01, with the labels that each got.

#880 ⬆️ Upgrade Symfony
  composer.lock
  config/packages/doctrine.yaml
  config/packages/webpack_encore.yaml
  public/.htaccess
  symfony.lock
  tests/bootstrap.php
Labels: dependencies, php

#886 Add pakistan
  assets/regions/asia/pakistan.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#888 Update breadcrumbs link
  templates/app/breadcrumb.html.twig
  templates/app/home/index.html.twig
Labels: enhancement

#889 Improve deleted users management
  src/Command/DeletedUsersCommand.php
  src/Command/UpdateCommand.php
Labels: bug, feature request

#890 Add link to OSMCha RSS feed
  templates/app/list/index.html.twig
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: feature request

#891 Add Ukraine
  assets/regions/europe/ukraine.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#893 Add region Togo
  assets/regions/africa/togo.geojson
  config/regions.yaml
  templates/messages/togo/en/mapathon.md
  templates/messages/togo/fr/default.md
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.sq.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#895 Ukrainian welcome messages
  templates/messages/ukraine/uk/welcome1.md
  templates/messages/ukraine/uk/welcome2.md
Labels: template

#897 Add ukrainian language
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages.uk.xlf
  translations/security.uk.xlf
  translations/time+intl-icu.uk.xlf
  translations/validators.uk.xlf
Labels: translation
