Repository osmbe/osm-welcome-tool, pull requests merged in 2023-07, with the labels that each got.

#1104 ⬆️ Upgrade Symfony
  composer.lock
  config/packages/notifier.yaml
  phpunit.xml.dist
  symfony.lock
Labels: dependencies, javascript, php

#1110 ⬆️ Upgrade Symfony to 6.3
  composer.json
  composer.lock
  grumphp.yml
  phpstan.neon
  symfony.lock
Labels: php

#1089 Create default.md
  templates/messages/north-korea/ko/default.md
Labels: template

#1103 글귀를 자연스럽고 더 공손하게 바꿈
  translations/messages.ko.xlf
Labels: translation

#1102 Adding India
  assets/regions/asia/india.geojson
  config/regions.yaml
  templates/messages/india/en/default.md
  translations/messages.en.xlf
  translations/messages.fr.xlf
Labels: region
