Repository osmbe/osm-welcome-tool, pull requests merged in 2023-10, with the labels that each got.

#1227 docs: maintain community links , add privacy warn
  templates/messages/china-beijing/zh/default.md
  templates/messages/china-beijing/zh/vandalism.md
  templates/messages/china-heilongjiang/zh/default.md
  templates/messages/china-heilongjiang/zh/vandalism.md
  templates/messages/china-hunan/zh/default.md
  templates/messages/china-hunan/zh/vandalism.md
  templates/messages/china/zh/default.md
  templates/messages/china/zh/vandalism.md
Labels: template

#1194 add Texas to list of regions
  assets/regions/north-america/texas.geojson
  config/regions.yaml
  translations/messages.en.xlf
Labels: region

#1191 feat: add Montenegro to list of regions
  assets/regions/europe/montenegro.geojson
  config/regions.yaml
  translations/messages.en.xlf
Labels: region

#1192 Update default.md for DACHLI
  templates/messages/dachli-obersee-rheintal/de/default.md
Labels: template

#1195 New Crowdin updates
  translations/messages.bg_BG.xlf
  translations/messages.de_DE.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr_FR.xlf
  translations/messages.hu_HU.xlf
  translations/messages.it_IT.xlf
  translations/messages.ja_JP.xlf
  translations/messages.ko_KR.xlf
  translations/messages.nl_NL.xlf
  translations/messages.pl_PL.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq_AL.xlf
  translations/messages.uk_UA.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: translation
