Repository osmbe/osm-welcome-tool, pull requests merged in 2023-02, with the labels that each got.

#920 Add portuguese language
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages.pt_PT.xlf
  translations/security.pt_PT.xlf
  translations/time+intl-icu.pt_PT.xlf
  translations/validators.pt_PT.xlf
Labels: translation

#921 ⬆️ Upgrade Symfony
  .env
  composer.lock
  config/packages/doctrine.yaml
  symfony.lock
Labels: dependencies, php

#925 Include user Displayname
  templates/messages/bogota/en/default.md
  templates/messages/bogota/es/default.md
  templates/messages/colombia/en/default.md
  templates/messages/colombia/es/default.md
Labels: template

#938 Add Portugal
  assets/regions/europe/portugal.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#940 Add template for Portugal
  templates/messages/portugal/pt/default.md
Labels: template

#941 Update default.md
  templates/messages/portugal/pt/default.md
Labels: template

#943 Add portuguese (brasil) language
  assets/typescript/list/index.ts
  config/services.yaml
  translations/messages.pt_BR.xlf
  translations/security.pt_BR.xlf
  translations/time+intl-icu.pt_BR.xlf
  translations/validators.pt_BR.xlf
Labels: translation

#944 Added Vietnam
  assets/regions/asia/vietnam.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#945 Added Timor Leste
  assets/regions/asia/east-timor.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#946 Added Papua New Guinea
  assets/regions/asia/papua-new-guinea.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#948 Add Laos
  assets/regions/asia/laos.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#949 Myanmar
  assets/regions/asia/myanmar.geojson
  config/regions.yaml
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#951 Create A Welcome Message for PNG
  templates/messages/papua-new-guinea/en/default.md
Labels: template

#953 Update welcome msg for PNG
  templates/messages/papua-new-guinea/en/default.md
Labels: template

#954 Added welcome msg for Laos
  templates/messages/laos/en/default.md
Labels: template
