Repository osmbe/osm-welcome-tool, pull requests merged in 2023-05, with the labels that each got.

#1036 Upgrade Symfony
  .env
  composer.lock
  symfony.lock
Labels: dependencies, php

#1059 Update the welcome message for South Korea
  templates/messages/south-korea/ko/default.md
Labels: template

#1035 feat(china-heilongjiang): Add province in China
  assets/regions/asia/china-heilongjiang.geojson
  config/regions.yaml
  templates/messages/china-heilongjiang/zh/default.md
  templates/messages/china-heilongjiang/zh/vandalism.md
  translations/messages.bg.xlf
  translations/messages.de.xlf
  translations/messages.en.xlf
  translations/messages.es_ES.xlf
  translations/messages.fr.xlf
  translations/messages.hu.xlf
  translations/messages.it.xlf
  translations/messages.ja.xlf
  translations/messages.ko.xlf
  translations/messages.nl.xlf
  translations/messages.pl.xlf
  translations/messages.pt_BR.xlf
  translations/messages.pt_PT.xlf
  translations/messages.sq.xlf
  translations/messages.uk.xlf
  translations/messages.zh_CN.xlf
  translations/messages.zh_TW.xlf
Labels: region

#1058 Add region and geojson for the state of Ohio in the USA
  assets/regions/north-america/ohio.geojson
  config/regions.yaml
  translations/messages.en.xlf
  translations/messages.fr.xlf
Labels: region
